services:
  mysql:
    image: mysql:8.0
    container_name: jdz_database_mysql
    environment:
      JDZ_MYSQL_HOST: localhost
      JDZ_MYSQL_USER: root
      JDZ_MYSQL_PASS: password
      JDZ_MYSQL_DB: test_db
      JDZ_MYSQL_PORT: 3306
    ports:
      - "3306:3306"
    tmpfs:
      - /var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-ppassword"]
      interval: 5s
      timeout: 3s
      retries: 10

  postgres:
    image: postgres:16
    container_name: jdz_database_postgres
    environment:
      JDZ_PGSQL_HOST: localhost
      JDZ_PGSQL_USER: root
      JDZ_PGSQL_PASS: password
      JDZ_PGSQL_DB: test_db
      JDZ_PGSQL_PORT: 5432
    ports:
      - "5432:5432"
    tmpfs:
      - /var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -h localhost -p 5432"]
      interval: 5s
      timeout: 3s
      retries: 10
